*{
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	background-color: #c5c0bc;
}



h1, h2, h3, p {
	text-align: left;

}




footer{
	background-color: #c5c0bc;
	grid-column-start: 1;
	grid-column-end: 5;
	padding-bottom: 300px;
}

.navbar{
	display: block;
	grid-column: 12;
	text-align: center;
}


.screen {

	grid-column: 12;
	background-color: #c5c0bc;
}


.tallest {
	color: purple;
	text-decoration: underline;
}

.list {
	text-align: center;
	color: red;
}

.spacer{
	text-align: center;
}

.warning {
	background-color: red;
	text-align: center;
	font-size: 100px;
}

ul {
	grid-column: 2;
	grid-row: 3;
}

li {
	list-style: none;
}

.pokemonClass {

}

.btn-primary{
	font-family: 'Sigmar One', cursive;
	font-size: 20px;
	width: 100%;
	height: 80px;
	background-color: #82974c;
	border: 2px dotted #000;
	margin-top: 10px;
}






