*{
	margin: 0;
}

body {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/*grid-gap: 10px;*/
	grid-auto-rows: minmax(100px, auto);
	background-color: #c5c0bc;
}



h1, h2, h3, p{
	text-align: left;

}

h1{
	text-shadow:
		-2px -2px 0 #3B4CCA,
		2px -2px 0 #3B4CCA,
		-2px 2px 0 #3B4CCA,
		2px 2px 0 #3B4CCA;
	color: #FFDE00;
	font-size: 50px;
	margin-left: 45px;
}

h2{
	text-shadow:
		-2px -2px 0 #3B4CCA,
		2px -2px 0 #3B4CCA,
		-2px 2px 0 #3B4CCA,
		2px 2px 0 #3B4CCA;
	color: #FFDE00;
	font-size: 30px;
/*	margin-left: 45px;
*/
}

header{
	background-color: #c5c0bc;
	grid-column-start: 1;
	grid-column-end: 3;
}

footer{
	background-color: #c5c0bc;
	grid-column-start: 1;
	grid-column-end: 5;
	padding-bottom: 300px;
}

.screen {
	background-color: #82974c;
	width: 80%;

	margin-left: 40px;
	padding-bottom: 200px;
	padding-top: 50px;
	padding-right: 50px;
}

.right {
	/*background: url(../css/img/static.jpeg);*/
	margin-right: 40px;
	margin-bottom: 2200px;
}

.tallest {
	color: purple;
	text-decoration: underline;
}

.list {
	text-align: center;
	color: red;
}

.spacer{
	text-align: center;
}

.warning {
	background-color: red;
	text-align: center;
	font-size: 100px;
}

ul {
	grid-column: 2;
	grid-row: 3;
}

li {
	list-style: none;
}

.pokemonClass {

}

button{
	font-family: 'Sigmar One', cursive;
	font-size: 20px;
	width: 100%;
	height: 80px;
	background-color: #82974c;
	border: 2px dotted #000;
	margin-top: 10px;
}




/*--------------------------MODAL------------------------*/

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}

.modal h2 {
  margin-top: 0;
  text-align: center;
  text-transform: capitalize;
}

.modal a {
  text-decoration: none;
  margin-bottom: 20px;
  text-align: center;
  color: blue;
  font-size: 20px;
}

.the-link {
  margin-top: 0;
  text-align: center;
  text-transform: capitalize;
	text-shadow:
		-2px -2px 0 #3B4CCA,
		2px -2px 0 #3B4CCA,
		-2px 2px 0 #3B4CCA,
		2px 2px 0 #3B4CCA;
	color: #FFDE00;
	font-size: 30px;
}

.pokemon-pic{
	width: 300px;
	height: auto;
	float: right;
	margin-right: 200px;

}