body{
	background-color: #e3e1df;
}

.navbar{
	background-color: #ff924e;
}

h1, a{
	font-family: 'Roboto', sans-sherif;
	font-weight: 100;
}

.navbar-brand{
	font-size: 40px;
	color: #fff;
}

.cardDeckContainer{
	text-align: center;
	margin: auto;
	width: 70%;
	padding: 20px;
}

.boxes{
	padding-top: 50px;
}

.card-img-top{
	height: 200px;
	width: auto;
}

.card-img-top:hover{
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transition-duration: 500ms;
	     -o-transition-duration: 500ms;
	        transition-duration: 500ms;
}

.card-text{
	font-size: 12px;
}

.btn-primary{
	background-color: #ff924e;
	color: #fff;
	border-color: #ff924e;
	font-weight: 100;
}

.btn-secondary{
	font-weight: 100;
}

.btn-primary:hover{
	background-color: #c9713a;
	border-color: #c9713a;
	-webkit-transition-duration: 200ms;
	     -o-transition-duration: 200ms;
	        transition-duration: 200ms;
}

.card{
	overflow: hidden;
}

.card:hover{
	-webkit-transform: scale(1.02);
	    -ms-transform: scale(1.02);
	        transform: scale(1.02);
	-webkit-transition-duration: 200ms;
	     -o-transition-duration: 200ms;
	        transition-duration: 200ms;
}

.link-div{
	text-align: center;
}

.theLink{
	text-align: center;
	font-size: 18px;
}

.form-rounded {
	border-radius: 1rem;
	border-color: #d3d3d3;
	outline-width: 0;
	border: none;
	background-color: #ff924e;
}

button{
	font-family: 'Roboto', sans-sherif;
	font-weight: 400;
}

#myButton{
	font-size: 24px;
	color: #fff;
	background-color: #ff924e;
	border-color: #fff;
	border-width: 1px;
	font-weight: 100;
	margin-top: 20px;
}

#myButton:hover{
	background-color: #c9713a;
}

#mySecondButton{
	font-size: 24px;
	color: #fff;
	background-color: #ff924e;
	border-color: #fff;
	border-width: 1px;
	font-weight: 100;
}

#mySecondButton:hover{
	color: #ff924e;
	background-color: #fff;
}

#mySearch{
	color: #fff;
	font-weight: 100;
	font-size: 30px;
	background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

.modal-footer{
	display: inline-block;
}
.button-div{
	text-align: center;
}

.card-title{
	text-align: center;
}

.mm-title{
	font-size: 30px;
	color: #8a8785;
}

.mm-title:hover{
	text-decoration: none;
	color: #000;
	-webkit-transition-duration: 200ms;
	     -o-transition-duration: 200ms;
	        transition-duration: 200ms;
}

.openTitle{
	font-size: 80px;
	color: #fff;
}

.firstSearch ::-webkit-input-placeholder{
	color: #fff;
}

.firstSearch ::-moz-placeholder{
	color: #fff;
}

.firstSearch :-ms-input-placeholder{
	color: #fff;
}

.firstSearch ::-ms-input-placeholder{
	color: #fff;
}

.firstSearch ::placeholder{
	color: #fff;
}

.firstSearch{
	padding-top: 15%;
}

.openScreen{
	height: 100vh;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../css/img/kitchen.jpg) center center;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../css/img/kitchen.jpg) center center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../css/img/kitchen.jpg) center center;
    width: 100%;
    min-height:100%;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

@media (max-width: 670px)
{
	.openTitle{
		font-size: 50px;
	}

	#mySearch{
		font-size: 18px;
		width: 220px;
		margin-right: 15px;
	}

	#myButton{
		font-size: 16px;
	}

	#mySecondButton{
		font-size: 16px;
	}

}

@media (max-width: 950px)
{
	#mySearch{
		font-size: 22px;
		width: 220px;
	}

	#mySecondButton{
		font-size: 18px;
	}

	.navbar-brand{
	font-size: 30px;
	}
	.theNav{
		text-align: center;
	}

}

@media (max-width: 550px)
{
	#mySearch{
		width: 270px;
		margin-left: 50px;
		margin-right: 0px;
	}

	.mainTitle{
		margin-left: 100px;
	}
}
